<?xml version="1.0" encoding="UTF-8"?>

<config>
    <sections>
        <sale_category translate="label" >
            <label>Sale / Offers Category</label>
            <tab>catalog</tab>
            <frontend_type>text</frontend_type>
            <sort_order>90</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>Sale / Offers Category Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>                        
			<offer_category translate="label">
                            <label>Sale/Offer Category</label>
                             <comment><![CDATA[This category should be in category list.Give the name as it in the product category.
                             Product with Special price in other categories will automatically added to this category.
                             (Please consider the letter case.)]]></comment>
                            <frontend_type>select</frontend_type>
			    <source_model>Saleproducts/category</source_model>                                                    
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </offer_category>
                        <offer_mail translate="label">
                            <label>Mail Notification.</label>
                             <comment><![CDATA[This option will send a mail to the store email id with the products removed from
                             Offer/Sale category.The product is only removed from the above category after the special price date ends]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>                                                    
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </offer_mail>
                        <offer_cron translate="label">
                            <label>Cron job after every Import.</label>
                             <comment><![CDATA[A cron job will run immediately after every product import.All product will be checked for special price 
                             and will add to sale/offer category.]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>                                                    
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </offer_cron>
                    </fields>
                </general>
		
            </groups>
			
        </sale_category>
    </sections>
</config>
